<%- include("../partials/header") %>
<div class="container">
     <div class="row">
        <h1 style="text-align: center;">Add a new comment to <%=campground.name%></h1>
        <!--doing the inline styling here -->
        <div  style="width:30%; margin: 30px auto;">
        <form action="/campgrounds/<%=campground._id%>/comments" method="POST" >
            <!--now we need to create some spacing between the differnt inputs to 
            do so we will do thois -->
            <div class="form-group">
                <input  class="form-control" type ="text" name ="comment[text]" placeholder="Text" >
                <!--these are the bootrap classes of our input type-->
            </div>
                 <button class ="btn btn-lg btn-primary btn-block ">submit!!</button> <!--these are the bootstrap class of button-->
            </div>
         </form>
       </div>
     </div>
   
        

    <div style="text-align: center;">
        <a href="/campgrounds">GO BACK</a>
        <!--ADDING A NEW  BACK BUTTON TO GO BACK TO THE CAMPGROUNDS PAGE-->
    </div>
  
</div>

<%- include("../partials/footer") %>